.header {
    height: 100px;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contents {
    width: 1040px;
    height: 624px;
    background-color: #F0F0F0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 100px;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
    display: flex;
}